<!DOCTYPE html>
<html lang="ru">

  <head>
	<title>Редактирование расписания</title>
	  {% load static %}
	<link rel="stylesheet" href="{% static 'main.css' %}" type="text/css"/>

</head>
<body>
	<center>
	<header class="site-header">
		<h1>Редактирование расписания</h1>
	</header>
		<form action="" method="post">
			{% csrf_token %}
			<table class="table">
				<tr class="first-string">
					<td class="first-white"> <div class="icon"></div>{{ data_lesson.title }}</td>
				</tr>
				<tr class="second-string">
					<td>
						<input type="datetime-local" name={{ data_lesson.name }} class="second-string" min="{{ data_lesson.date_min }}" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
					</td>
				</tr>
			</table>
			{% for i in list_parm %}
			<table class="table">
				<tr class="first-string">
					<td class="first-white"> <div class="icon"></div>{{ i.title }}</td>
				</tr>

				<tr class="second-string">
					<td>
						<input name={{ i.name }} type="text" placeholder={{ i.placeholder }} class="second-string">
					</td>
				</tr>
			</table>
			{% endfor %}

			<table class="table">
				<tr class="first-string">
					<td class="first-white"> <div class="icon"></div>{{ subject_people }}</td>
				</tr>

				<tr class="second-string">

					<td>
						<select name="subject" class="second-string">
							{% for p in list_people_su %}
							<option value="{{ p.contains }}"> {{ p.contains }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>

				<tr>
					<td>
							<select name="job_subject" class="second-string">
								{% for j in list_job_su %}
								<option value="{{ j.contains }}"> {{ j.contains }}</option>
								{% endfor %}
							</select>
					</td>
				</tr>

				<tr>
					<td>
							<select name="science_degree_subject" class="second-string">
								{% for s in list_since_su %}
								<option value="{{ s.contains }}">{{ s.contains }}</option>
								{% endfor %}
							</select>
					</td>
				</tr>
			</table>

			<table class="table">
				<tr class="first-string">
					<td class="first-white"> <div class="icon"></div>{{ object_people }}</td>
				</tr>

				<tr class="second-string">

					<td>
						<select name="object" class="second-string">
							{% for p in list_people_obj %}
							<option value="{{ p.contains }}"> {{ p.contains }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>

				<tr>
					<td>
							<select name="job_object" class="second-string">
								{% for j in list_job_obj %}
								<option value="{{ j.contains }}"> {{ j.contains}}</option>
								{% endfor %}
							</select>
					</td>
				</tr>

				<tr>
					<td>
							<select name="science_degree_object" class="second-string">
								{% for s in list_since_obj %}
								<option value="{{ s.contains }}">{{ s.contains }}</option>
								{% endfor %}
							</select>
					</td>
				</tr>

			</table>
				<button type="submit" class="button">Отправить заявку</button>
		</form>
	</center>
</body>